#!/bin/sh -e

. /usr/share/debconf/confmodule

# If we have no versions, we do not need to worry about obsolete ones
if ! [ -d /usr/lib/postgresql ] || \
    [ ! -e /usr/share/postgresql-common/supported-versions ]; then
    db_stop
    exit 0
fi

# determine versions
AVAILABLE=`ls /usr/lib/postgresql/`
LATEST=`ls /usr/lib/postgresql/ | tail -n 1`
SUPPORTED=`sh /usr/share/postgresql-common/supported-versions`

for v in $AVAILABLE; do
    unset sup
    for s in $SUPPORTED; do 
        if [ "$v" = "$s" ]; then
            sup=1
            break
        fi
    done
    if [ "$sup" ]; then
        continue
    fi

    if dpkg -s "postgresql-client-$v" 2>/dev/null | grep -q ^Version: ; then
	db_fset postgresql-common/obsolete-major seen false
	db_subst postgresql-common/obsolete-major old $v
	db_subst postgresql-common/obsolete-major latest $LATEST
	db_input high postgresql-common/obsolete-major || true
	db_go || true
    fi
done
db_stop
