#!/bin/sh -e

. /usr/share/debconf/confmodule

# obsolete major versions
OBSOLETE="8.0"

# latest available version
LATEST=8.1

for v in $OBSOLETE; do
    if dpkg -s "postgresql-client-$v" 2>/dev/null | grep -q ^Version: ; then
	db_fset postgresql-common/obsolete-major seen false
	db_subst postgresql-common/obsolete-major old $v
	db_subst postgresql-common/obsolete-major latest $LATEST
	db_input high postgresql-common/obsolete-major || true
	db_go || true
    fi
done
db_stop
