#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk

POD2MAN=pod2man --center "Debian PostgreSQL infrastructure" -r "Debian"
PODPROGS=pg_ctlcluster pg_wrapper pg_lsclusters pg_createcluster pg_dropcluster pg_upgradecluster

build/postgresql-common::
	for p in $(PODPROGS); do $(POD2MAN) $$p > $$p.1; done

cleanbuilddir/postgresql-common::
	for p in $(PODPROGS); do rm -f $$p.1; done

