Tests: system
Depends: postgresql, libecpg-dev, postgresql-plpython, postgresql-plpython3, postgresql-plperl, postgresql-pltcl, postgresql-server-dev-all, hunspell-en-us, locales, netcat-openbsd
Restrictions: needs-root
