# systemd service for managing all PostgreSQL clusters on the system. This
# service is actually a systemd target, but we are using a service since
# targets cannot be reloaded.

[Unit]
Description=PostgreSQL RDBMS

[Service]
Type=oneshot
ExecStart=/usr/bin/pg_lsclusters
ExecReload=/bin/true
ExecStopPost=/usr/bin/pg_lsclusters --wait-stopping
RemainAfterExit=on

[Install]
WantedBy=multi-user.target
